.main-navigation {
    li {
      padding: 0.6em;
  
      @media (min-width: $md) {
        padding: 0.2em 0.4em;
      }
    }
  
    a {
      font-size: 1.3em;
      padding-left: 0;
  
      @media (min-width: $md) {
        font-size: .55em;
        padding: 0;
      }
  
      @media (min-width: $mdl) {
        font-size: .7em;
        padding-left: 0.4em;
      }
    }
  }